{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="{% static 'crm/js/script.js' %}"></script>
    <script src="{% static 'crm/js/tasks.js' %}"></script>
    <script src="{% static 'crm/js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'crm/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'crm/css/task_message.css' %}">
    <link rel="stylesheet" href="{% static 'crm/css/delete_styles.css' %}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}CRM для фрилансеров{% endblock %}</title>
</head>

<body>
    <header>
        <h1>CRM для фрилансеров</h1>
        <nav>
        {% if user.is_authenticated %}
            <p>👋 Привет, {{ user.username }}!</p>
            <a href="{% url 'logout' %}" class="btn btn-danger nav-btn">🚪 Выйти</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary nav-btn">🔑 Войти</a>
            <a href="{% url 'register' %}" class="btn btn-success nav-btn">🛡️ Регистрация</a>
        {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
