{% extends "crm/base.html" %}

{% block title  %}Удаление заметки {% endblock%}

{% block content %}
<div class='container mt-4'>
	<h2>Удаление заметки</h2>
	<p>Вы действительно хотите удалить эту заметку?</p>
	<div class='card p-3 mb-3'>
		<p><strong>Сообщение:</strong>{{ communication.message }}</p>
		{% if communication.tag %}
		<p><strong>Тег:</strong>{{ communication.tag }}</p>
		{% endif %}
		{% if communication.file %}
		<p><strong>Файл:</strong><a href='{{ communication.file.url }}' target='_blank'>Скачать</a></p>
		{% endif %}
</div>

	<form method='POST'>
		{% csrf_token %}
		<button type='submit' class='btn btn-danger'>Удалить</button>
		<a href="{% url 'task_message' communication.task.id %}" class='btn btn-secondary'>Отмена</a>
	</form>
</div>
{% endblock content %}